.mainHead {
  width: 100%;
}

.send_menu {
  position: fixed;
  margin: 30px 0 0 2px;
  padding: 13px;
  background: rgba(228, 212, 212, 0.151);
}
.user_info_panel {
  justify-content: center;
}

.users_info {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.users_info img {
  width: 100%;
  border-radius: 50%;
}

.users_info div {
  background: rgb(122, 114, 114);
  border: 1px solid rgb(46, 45, 45);
  padding: 10px;
}

.users_info p,
h3,
h4 {
  background: rgb(68, 66, 66);
  text-align: center;
}
.users_info h4 {
  color: rgb(156, 137, 137);
}

.user_like {
  display: flex;
  justify-content: center;
}
