/* header */
.site_header {
  display: flex;
  background-color: rgba(80, 80, 65, 0.733);
  width: 100%;
}

/* Logo */
.logo {
  display: flex;
  padding: 10px;
  height: 35px;
  margin-left: 15px;
}

.logo a {
  display: flex;
  padding: 3px;
  align-items: center;

  background: linear-gradient(135deg, #1410f3 50%, #fabe0e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #1410f3 40%, #fabe0e 60%);
  border-image-slice: 1;
}

.logo a:focus,
a:active {
  outline: none;
}

.logo img {
  width: 30px;
  margin: 3px;
  border-radius: 50%;
}

.logo p {
  font-size: 22px;
  margin: 3px;
  text-align: center;
}

/* nav */
.nav {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav a {
  color: #fabe0e;
}

.nav a:hover {
  color: rgb(0, 0, 0);
}

.nav_item {
  padding-left: 20px;
  padding-right: 20px;
}

.nav .nav_item:hover {
  border-right: 1px solid rgb(129, 102, 102);
  border-left: 1px solid rgb(129, 102, 102);

  padding-left: 19px;
  padding-right: 19px;
}

.proviles {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 10px;
  padding-right: 15px;
}

.proviles a {
  margin: 0 10px 0 10px;
}

.proviles p {
  font-family: "Rubik One", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(135deg, #1410f3 50%, #fabe0e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proviles p:hover {
  background: linear-gradient(100deg, #1410f3 20%, #fabe0e 40%, #043277);
  -webkit-background-clip: text;
}
