.Dialog {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.Dialog h3 {
  background: rgba(0, 0, 0, 0.13);
}

.Dialog .messages {
  background: rgba(255, 255, 255, 0.5);
  margin: 15px;
  width: 100%;
  text-align: center;
}

.diialog_with_user {
  margin: 10px 0 0 5px;
}

.diialog_with_user h4 {
  border-radius: 30px;
}

.active:hover,
.active:focus {
  color: #fabf0ee7;
}

.message_content {
  margin: 10px;
  background: rgb(196, 181, 181);
}

.item_poisk_message {
  padding: 5px;
  background: #000;
}

.nav_messages img {
  height: 100%;
  margin: 5px;
  border-radius: 50%;
  float: left;
}

.messages .nav_messages {
  background: rgba(0, 0, 0, 0.479);
}

.info_for_user {
  display: flex;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.438);
}

.info_for_user .nav_messages {
  margin: 0 auto;
  background: none;
}

.info_for_user h3 {
  background: none;
}

.row_info,
.nav_messages {
  display: flex;
  height: 30px;
  padding: 10px;
  align-items: center;
}

.message {
  display: flex;
  width: 78%;
  text-align: left;
}

.message p {
  padding-left: 30px;
}

.messages .send_menu {
  display: flex;
  height: 30px;
  padding: 8px;
  align-items: center;
}
.send_menu form {
  display: flex;
  align-items: center;
}

.send_menu .send_message {
  height: 100%;
  margin-left: 5px;
  border: 1px solid #fabf0ee7;
  border-radius: 27%;
  color: #fabf0ee7;
  background: rgba(29, 12, 177, 0.418);
  padding: 3px;
}

.send_menu input {
  height: 30px;
  background: #fabf0e2d;
  color: #000;
  text-align: center;
}
