.user_panel {
  width: 100%;

  display: grid;
  grid-template-columns: 10fr 2fr;
}

.info {
  text-align: center;
  margin-left: 20px;
}

.info h4,
.info h3 {
  width: 100px;
  text-align: left;
  background: none;
}
