.frendInformations{
  width: 450px;
  margin: 0 auto;
}

.frendInfo {
  display: flex;
  background: rgba(255, 255, 255, 0.767);
  color: #000;
  margin: 10px;
  border-bottom: 1px solid #000;
}

.FrendsPage h1 {
  text-align: center;
}

.frendInfo span {
  margin: 10px 15px;
}

.photo {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.statusFrends {
  width: 100px;
  height: 23px;
  margin-top: 11px;
  display: flex;
  justify-content: center;
}

.statusFrends button {
  width: 70px;
  padding: 1px;
  color: rgb(207, 216, 204);
  background: rgba(0, 15, 226, 0.815);
}

.statusFrends button:hover{
  background: rgba(136, 12, 130, 0.644);

}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 11px red;
}

.frendInfo .name {
  font-size: larger;
  color: blueviolet;
}

.navPage{
  width: 800px;
  height: 30px;
  background: rgb(253, 250, 250);
  color: #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navPage span{
  padding-right: 5px;
  padding-left: 5px;
 }


.numNavPage{
  font-size: 20px;
  border-bottom: 1px solid #000;
}


.focusPage{
  background: rgb(255, 255, 255);
  font-size: x-large;
}