* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #383749;
  text-decoration: none;
}

a:visited {
  color: #757686;
}

a {
  color: #fabe0e;
}

a:focus {
  border-bottom: 1px solid #000;
}
