* {
  margin: 0;
  padding: 0;
}

body {
  color: #383749;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;

  background: url("./images/logo.jpg") center top fixed;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.flex {
  display: flex !important;
}

img {
  vertical-align: baseline;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #383749;
  text-decoration: none;
}

a:visited {
  color: #757686;
}

a:hover,
a:focus,
a:active {
  color: #383749;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  list-style: none;
}
