* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: #383749;
  text-decoration: none;
}

a:visited {
  color: #757686;
}

a:focus {
  color: #e7e6ee;
  background: rgba(179, 177, 177, 0.151);
  border-radius: 7%;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  list-style: none;
}
